doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Untitled
	body
		ul
			li: a(href="/translate") translate
			li: a(href="/picklang")	quiz
			li: a(href="/progress")	progress
		block content
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		block scripts
			