extends layout

block content
	h1 Pick Language

	form(method="get", action="/quiz", id="language-pick")
		label Answer Language
		select(name="answer")
			option(value="spa") Spanish
			option(value="ara") Arabic
			option(value="ger") German
		input(type="submit")