extends layout

block content
	h1 QUIZ!!!!!!!, fool.

	div(id="quiz-area", data-answer-lang="#{answerLang}")
		div(id="question", data-num="0")
			p: strong Question 
				span#quest-num
			p#word
			form#answer
				label Answer:
				input(name="userAnswer", type="text")
		div#answer-results
block scripts
	script(src="quiz.js")